<div class="shadow p-4 border">
  <div class="flex justify-between p-4">
    <h2 class="text-xl font-semibold">Task list</h2>
    <button mat-raised-button color="primary" routerLink="/tasks/add">
      Add Task
    </button>
  </div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      @for(task of tasks; track $index) {
      <tr>
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>
          <button
            mat-raised-button
            color="accent"
            class="mr-4"
            [routerLink]="'/tasks/' + task._id"
          >
            Edit
          </button>
          <button mat-raised-button color="warn" class="mr-4" (click)="delete(task._id!)">Delete</button>
          <button mat-raised-button color="primary" (click)="updateComplition(task._id!)">{{ task.status ? '[Completed]Mark Incomplete' : '[Incomplete]Mark Complete' }}</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>
